@page
@model webapp.Pages.Account.AccessDeniedModel

@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Access Denied</h1>
<h2>You must be signed in as an Admin to view this page</h2>

