html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #d2f7f2;
}

#MenuIndexTable{
    font-size: 150%;
    text-align: center;
}

#MenuIndexTableCreate{
    padding-left: 73%;
    font-size: 150%;
}

#MenuIndexTitle{
    text-align:center;
    padding-right:5%;
}

h1 {
    font-family: Lucida Handwriting;
}