@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">[Poisson et frites]</h1>
    <h2 class="display-6">"fish and chips"-refined</h2>
</div>

<a asp-page="/Account/Register">Register</a>