@page
@model webapp.Pages.Menus.Index1Model
@{
}
<h1 class="text-center">Enter Your Table Number</h1>
<div class="text-center">
    <label for="TableNumber">Table Number:</label>
    <input type="text" name="TableNumber" value="" />
</div>
